<script src="/javascript/dashboard.js" data-farmer_id="{{user.dataValues.current_farmer_id}}"></script>

<p>Welcome, <a href="/user/account">{{user.username}}</a>! You are currently tracking progress for your farmer <a href="/user/farmers" class="farmer">{{user.current_farmer_name}}</a>. Please see the <a href="faq">FAQ</a> for help.</p>

<section class="bundle-progress">
	<div class="col-xs-12">
		<div id="communitycenter">

		<h3>Community Center Progress</h3>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="bundle-progress-item" id="boilerroom">

			<a href="/bundles/boilerroom">
				<h3>Boiler Room</h3>
				<img src="/images/bundle-pictures/geologists.png">
			</a>

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

			<a class="btn btn-primary" href="/bundles/boilerroom">Track</a>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="bundle-progress-item" id="bulletinboard">

			<a href="/bundles/bulletinboard">
				<h3>Bulletin Board</h3>
				<img src="/images/bundle-pictures/fodder.png">
			</a>

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

			<a class="btn btn-primary" href="/bundles/bulletinbord">Track</a>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="bundle-progress-item" id="craftsroom">

			<a href="/bundles/craftsroom">
				<h3>Crafts Room</h3>
				<img src="/images/bundle-pictures/fallforaging.png">
			</a>

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

			<a class="btn btn-primary" href="/bundles/craftsroom">Track</a>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="bundle-progress-item" id="fishtank">

			<a href="/bundles/fishtank">
				<h3>Fish Tank</h3>
				<img src="/images/bundle-pictures/nightfishing.png">
			</a>

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

			<a class="btn btn-primary" href="/bundles/fishtank">Track</a>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="bundle-progress-item" id="pantry">

			<a href="/bundles/pantry">
				<h3>Pantry</h3>
				<img src="/images/bundle-pictures/artisan.png">
			</a>

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

			<a class="btn btn-primary" href="/bundles/pantry">Track</a>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="bundle-progress-item" id="vault">

			<a href="/bundles/vault">
				<h3>Vault</h3>
				<img src="/images/bundle-pictures/25000.png">
			</a>

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

			<a class="btn btn-primary" href="/bundles/vault">Track</a>

		</div>
	</div>
</section>