<form method="post" action="/user/signup">
  <div>
    <label>Username</label>
    <input type="text" placeholder="Username" name="username" minlength="4" required>
  </div>
   <div>
    <label>Email</label>
    <input type="email" placeholder="Email" name="email" required>
  </div>
   <div>
    <label>Farmer's Name</label> <span class="sdv-tooltips" data-toggle="tooltip" title="The name of your farmer in your save file">?</span>
    <input type="text" placeholder="i.e. Sally" name="farmer" maxlength="20" required>
  </div>
  <div>
    <label>Password</label>
    <input type="password" placeholder="Password" name="password" minlength="8" required>
  </div>
  <div>
    <label>Confirm Password</label>
    <input type="password" placeholder="Password" name="password2" minlength="8" required>
  </div>
  <button type="submit" class="btn btn-default">Sign Up!</button>
</form>