/* ---------------------- Body ---------------------- */

body {
	background: url('../images/background.png');
	background-attachment: fixed;
	background-size: cover;
	margin: 50px 0;
	font-size: 16px;
	font-family: Karla, sans-serif;
	color: #4f4f4f;
	line-height: 1.5;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

* {	
    -ms-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/* ---------------------- Links ---------------------- */

a {
	text-decoration: none;
	color: #0983f6;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

/* ---------------------- Header ---------------------- */

h1 {
	margin-bottom: 20px;
	font-size: 36px;
	font-family: 'Gloria Hallelujah', sans-serif;
	color: #e0a100;
	line-height: 1.25;
	text-shadow: -2px 0 2px #433114, 0 2px 2px #433114, 2px 0 2px #433114, 0 -2px 2px #433114;
}

h1 a, h1 a:hover {
	color: #e0a100;
}

span#sdv-title {
	font-size: 54px;
	display: block;
}

@media screen and (max-width: 800px) {
	body {
		margin: 40px 20px;
	}

	h1 {
		font-size: 28px;
	}

	span#sdv-title {
		font-size: 36px;
	}
}

@media screen and (max-width: 500px) {
	body {
		margin: 20px;
	}

	h1 {
		font-size: 20px;
	}

	span#sdv-title {
		font-size: 26px;
	}
}

.nameplate {
	height: 54px;
	max-height: 54px;
	width: 75%;
	margin: auto;
	background: url('../images/nameplate_left.gif'), url('../images/nameplate_right.gif');
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right top;
	vertical-align: middle;
	line-height: 54px;
}

.nameplate-name {
	background: url('../images/nameplate_bg.gif');
	background-repeat: repeat-x;
	height: 54px;
	max-height: 54px;
	line-height: 54px;
	vertical-align: middle;
	margin: 0 39px 0 39px;
}

/* ---------------------- Main ---------------------- */

main {
	background: #fcc473;
	border-radius: 10px;
	margin: 30px 0;
	padding: 10px;
	box-shadow:
		0 0 0 1px #f8d692,
		0 0 0 3px #c78f56,
		0 0 0 6px #ec932f,
		0 0 0 9px #cc7c24,
		0 0 0 11px #ab6825;
}

h2 {
	font-size: 32px;
	margin-bottom: 6px;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}

	h2 {
		font-size: 24px;
	}
}

.sdv-tooltips {
	font-size: 10px;
	background: #5f5f5f;
	padding: 3px 5px;
	border-radius: 50%;
	color: #fff;
	vertical-align: middle;
}

/* ---------------------- Footer ---------------------- */

footer {
	margin: 20px 0;
	color: #bfbfbf;
	font-size: 13px;
}

footer a {
	color: #bfbfbf;
	border-bottom: 1px solid;
}

footer a:hover {
	border: 0;
}