html,
body,
div,
h1,
a,
video {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
	background-color: #25272a;
}

#custom {
	text-align: center;
	padding: 20px;
	font-size: 40px;
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 2;
  margin: 0 auto 30px auto;
  max-width: 720px;
  text-align: center;
}

.blurb{
	position: relative;
	z-index: 2;
	margin: 0 auto 20px auto;
	max-width: 720px;
	text-align: center;
	color: white;
}

.blurb-text{
	line-height: 2;
	font-size: 1.4em;
	font-family: "Open Sans";
	letter-spacing: 1px;
    text-shadow: -.5px 0 .5px #000, 0 .5px .5px #000, .5px 0 .5px #000, 0 -.5px .5px #000;
}

.title{
	font-family: "Open Sans";
	font-size: 50px;
	letter-spacing: 2px;
	color: white;
	text-shadow: 5px 5px 15px black;
}

.content_btn {
  position: relative;
  top: 20%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  padding: 20px;
  color: white;
  text-align: center;

}

#btn{
	padding: 30px;
	margin: 10px;
	font-size: 20px;
	font-family: 'Open Sans';
	letter-spacing: 1.6px;
    background: rgba(0, 0, 0,.35);
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#btn:hover {
	background: #fff;
}

#US{
	font-family: 'Open Sans';
	text-align: center;
	color: white;
	letter-spacing: 1.6px;
	padding: 20px;
	font-size: 45px;
}

/*.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
}

.state:hover{
	fill-opacity:0.5;
}

#tooltip {   
	position: absolute;           
	text-align: center;
	padding: 20px;             
	margin: 10px;
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 1px;      
	border-radius: 2px;           
	pointer-events: none;         
}

#tooltip h4{
	margin:0;
	font-size:14px;
}

#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
}

#tooltip table{
	table-layout:fixed;
}
#tooltip tr td{
	padding:0;
	margin:0;
}
#tooltip tr td:nth-child(1){
	width:50px;
}
#tooltip tr td:nth-child(2){
	text-align:center;
}*/

/*.state{
  	transition: box-shadow .2s;
  	transition: transform .2s;
}   
  
.state:hover{
	transform: translateY(-5px);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#map{
	margin-left: 12%;
	margin-top: 3%;
	margin-bottom: 3%;
}*/


.hide {
  display: none;
}

.show {
  display: block;
}

#wrapper {
  background-image: url("https://static1.squarespace.com/static/53974e3ae4b0039937edb698/t/539b5f26e4b0a0b8fe855746/1402691369157/macro+background.png?format=1500w");
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  min-height: 100%;
  color: #fff;
}

#opacity {
  background-color: rgba(100,100,100, .4)
}

.header {
	color: #6592bf;
	font-weight: bolder;
	font-size: 22px
}

/* Hide stats on map and state pages */
div.stats {
	display: none;
}

/* Define height and width of pie charts on state page */
.chart {
	width: 600px;
	height: 425px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Styling for US map and state list dropdown */
#state-dropdown {
	display: none;
	text-align: center;
	margin-top: 20px;
}

#open-dropdown {
	text-align: center;
	cursor: pointer;
}

@media (max-width: 620px) {
	#US-map {
		display: none;
	}

	#state-dropdown {
		display: block;
	}

	#open-dropdown {
		display: none;
	}
}

@media (min-width: 621px) and (max-width: 820px) {
	#US-map {
		width: 100%;
	}
}

@media (min-width: 821px) {
	#US-map {
		width: 800px;
		margin: 0 auto;
	}
}

#US-map path {
	cursor: pointer;
}

/* Center content on homepage vertically and horizontally */
.homepage {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

.homepage .homepage-content {
  width: 60%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

select {
	color: black;
}

@media (min-width: 651px) and (max-width: 1024px) {
	.homepage .homepage-content {
	  width: 80%;
	}
}

@media (max-width: 650px) {
	.homepage {
		display: flex;
		flex-direction: column;
	}
	
	.homepage .homepage-content {
	  width: 100%;
	  padding: 0;
	}

	h1.title {
		font-size: 24px;
	}

	.blurb-text, #btn {
		font-size: 16px;
	}
}

.center {
	text-align: center;
}