/* ---------------------- Body ---------------------- */

body {
	background: url('../images/background.png');
	background-attachment: fixed;
	background-size: cover;
	margin: 50px 0;
	font-size: 16px;
	font-family: Karla, sans-serif;
	color: #4f4f4f;
	line-height: 1.5;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0;
}

img {
	max-width: 100%;
}


/* ---------------------- Links ---------------------- */

a {
	text-decoration: none;
	color: #577DA6;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #224D7C;
}

a, a:hover {
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}


/* ---------------------- Header ---------------------- */

h1 {
	margin-bottom: 20px;
	font-size: 36px;
	font-family: 'Gloria Hallelujah', sans-serif;
	color: #e0a100;
	line-height: 1.25;
	text-shadow: -2px 0 2px #433114, 0 2px 2px #433114, 2px 0 2px #433114, 0 -2px 2px #433114;
}

h1 a, h1 a:hover {
	color: #e0a100;
	-ms-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}

span#sdv-title {
	font-size: 54px;
	display: block;
}

@media screen and (max-width: 800px) {
	body {
		margin: 40px 20px;
	}

	h1 {
		font-size: 28px;
	}

	span#sdv-title {
		font-size: 36px;
	}
}

@media screen and (max-width: 500px) {
	body {
		margin: 20px;
	}

	h1 {
		font-size: 20px;
	}

	span#sdv-title {
		font-size: 26px;
	}
}


/* ---------------------- Navigation Bar ---------------------- */

.nameplate {
	height: 54px;
	max-height: 54px;
	width: 75%;
	margin: auto;
	background: url('../images/nameplate_left.png'), url('../images/nameplate_right.png');
	background-repeat: no-repeat, no-repeat;
	background-position: left center, right top;
	vertical-align: middle;
	line-height: 54px;
}

.nameplate-name {
	background: url('../images/nameplate_bg.png');
	background-repeat: repeat-x;
	height: 54px;
	max-height: 54px;
	line-height: 54px;
	vertical-align: middle;
	margin: 0 39px 0 39px;
}

@media (max-width: 1100px) {
	.nameplate {
		width: 100%;
	}
}

ul.nav-bar {
	display: inline;
}

ul.nav-bar li {
	display: inline;
	padding-right: 10px;
}

.mobile-nav {
	background: #ffcb7b;
	overflow: auto;
	border-radius: 10px;
	margin: 30px auto;
	padding: 10px;
	box-shadow:
		0 0 0 2px #d68f54,
		0 0 0 4px #853605;
}

ul.mobile-nav-ul {
	margin-top: 10px;
	border-top: 1px solid #b16232;
}

ul.mobile-nav-ul li {
	border-bottom: 1px dashed #b16232;
}

ul.mobile-nav-ul li:last-child {
	border-bottom: 0;
}

ul.mobile-nav-ul li a {
	display: block;
	padding: 10px 30px;
}

.navbar-toggle {
	margin: 0;
	background: #e2992b;
	border-top: 1px solid #5b2b2a;
	border-right: 1px solid #5b2b2a;
	border-bottom: 1px solid #965c3a;
	border-left: 1px solid #965c3a;
	border-radius: 5px;
	-webkit-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	-moz-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
}

.navbar-toggle .icon-bar {
	background: black;
	height: 1px;
}

.title-nav-button {
	overflow: auto;
}

.title-nav-button h3 {
	font-size: 20px;
	margin: 0;
}

.navbar-collapse {
	padding: 0;
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


/* ---------------------- Main ---------------------- */

main {
	background: #ffcb7b;
	overflow: auto;
	border-radius: 10px;
	margin: 30px 0;
	padding: 10px;
	box-shadow:
		0 0 0 2px #d68f54,
		0 0 0 4px #853605,
		0 0 0 7px #dc7b05,
		0 0 0 9px #b14e05,
		0 0 0 11px #5b2b2a;
}

h2 {
	font-size: 32px;
	margin-bottom: 6px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	margin-bottom: 6px;
	font-weight: bold;
}

p {
	margin-top: 5px;
	margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}
}

.sdv-tooltips {
	font-size: 10px;
	background: #5f5f5f;
	padding: 3px 5px;
	border-radius: 50%;
	color: #fff;
	vertical-align: middle;
}

code {
	font-family: Courier;
	font-style: italic;
}


/* ---------------------- Forms ---------------------- */

form {
	width: 50%;
	margin: auto;
}

label {
	font-weight: bold;
}

input {
	display: block;
	background: #ffe5bd;
	width: 100%;
	margin: 5px 0 15px 0;
	padding: 5px;
	border-top: 1px solid #5b2b2a;
	border-right: 1px solid #5b2b2a;
	border-bottom: 1px solid #965c3a;
	border-left: 1px solid #965c3a;
	border-radius: 5px;
	-webkit-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	-moz-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
}

button[type=submit] {
	font-weight: bold;
	display: block;
	background: #e2992b;
	width: 100%;
	margin: 25px 0;
	padding: 5px;
	border-top: 1px solid #5b2b2a;
	border-right: 1px solid #5b2b2a;
	border-bottom: 1px solid #965c3a;
	border-left: 1px solid #965c3a;
	border-radius: 5px;
	-webkit-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	-moz-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
}

button[type=submit]:hover {
	background: #efd2a6;
}

@media screen and (max-width: 1000px) {
	form {
		width: 85%;
	}
}

@media screen and (max-width: 500px) {
	form {
		width: 100%;
	}
}


/* ---------------------- Farmer's Page Forms ---------------------- */

.farmers-list button {
	margin: 0;
	width: initial;
	background: none;
	border: 0;
	box-shadow: none;
}

.farmers-list button:hover {
	background: none;
	color: #a75517;
}

.farmers-list form.farmer-delete {
	width: initial;
}

.farmers-list form.farmer-delete button {
	float: right;
	font-weight: bold;
}

.farmers-list form.farmer-update {
	width: 100%;
	clear: both;
}

.farmers-list form.farmer-update button {
	width: 100%;
	box-sizing: content-box;
	font-size: 20px;
	height: 100px;
	padding-bottom: 34px;
}

/* ---------------------- Farmers List ---------------------- */

.farmers-list {
	overflow: auto;
	margin: auto;
}

.farmers-list-item {
	display: block;
	text-align: center;
	overflow: auto;
	background: #ffe3b0;
	min-height: 150px;
	padding: 15px;
	margin-bottom: 15px;
	border: 2px solid #b16232;
	border-radius: 10px;
	-webkit-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	-moz-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
}


/* ---------------------- Bundle Pages ---------------------- */

.bundle-col {
	padding: 0;
}

nav.bundle-col {
	padding-right: 30px;
}

@media (max-width: 991px) {
	nav.bundle-col {
		padding: 0;
	}
}

ul.bundle-nav li {
	width: 100%;
	border-bottom: 1px dashed #b16232;
}

ul.bundle-nav li:last-child {
	border-bottom: 0;
}

ul.bundle-nav li a {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
  color: #BE6F29;
}

ul.bundle-nav li a:hover {
	color: #DD914E;
	margin-left: 20px;
}

ul.bundle-nav li a.active {
	margin-left: 20px;
}

.bundle-progress-item {
	display: block;
	text-align: center;
	overflow: auto;
	background: #ffe3b0;
	min-height: 150px;
	padding: 15px;
	margin-bottom: 15px;
	border: 2px solid #b16232;
	border-radius: 10px;
	-webkit-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	-moz-box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
	box-shadow: -2px 2px 2px 0px #cca36b, inset -1px 1px 2px 0px #dc7b05;
}

.bundle-progress-item h3 {
	font-size: 18px;
}

.bundle-progress-item .btn {
	width: 120px;
}

.bundle-progress-item a img {
	margin-bottom: 10px;
}

.bundle-completed {
	opacity: .5;
}

.mobile-nav.bundle-nav {
	margin: 0 0 10px 0;
}

.mobile-nav-ul li a.active {
	margin-left: 20px;
}

/* ---------------------- Progress Bars ---------------------- */

.progress {
	background-color: #ffd68a;
	box-shadow:
		0 0 0 1px #b04e05,
		0 0 0 3px #d97c0c,
		0 0 0 4px #5d2b22,
		inset 0 0 0 1px #d6a784;
}

.progress-bar {
	background-color: #5fc706;
	color: #4c4c4c;
}

.progress-bar::before {
    content: "\00a0\00a0";
}


/* ---------------------- Alerts ---------------------- */

.alert {
	width: 75%;
	margin: 25px auto;
}

@media screen and (max-width: 500px) {
	.alert {
		width: 100%;
	}
}


/* ---------------------- Special Image Classes ---------------------- */

a[href="/user/account"], .user {
	padding-left: 20px;
	background: url('../images/user.png') no-repeat left center;
}

a[href="/user/farmers"], .farmer {
	padding-left: 20px;
	background: url('../images/farmer.png') no-repeat left center;
}

a.boilerroom {
	padding-left: 20px;
	background: url('../images/bundle-red.png') no-repeat left center;
}

a.bulletinboard {
	padding-left: 20px;
	background: url('../images/bundle-orange.png') no-repeat left center;
}

a.craftsroom {
	padding-left: 20px;
	background: url('../images/bundle-yellow.png') no-repeat left center;
}

a.fishtank {
	padding-left: 20px;
	background: url('../images/bundle-green.png') no-repeat left center;
}

a.pantry {
	padding-left: 20px;
	background: url('../images/bundle-blue.png') no-repeat left center;
}

a.vault {
	padding-left: 20px;
	background: url('../images/bundle-purple.png') no-repeat left center;
}

/* ---------------------- Footer ---------------------- */

footer {
	margin: 20px 0;
	color: #bfbfbf;
	font-size: 13px;
}

footer a {
	color: #bfbfbf;
	border-bottom: 1px solid;
}

footer a:hover {
	border: 0;
}